# --- Segredos e Variáveis de Ambiente ---
.env

# --- Informações do processo de desenvolvimento do projeto
info.md

# --- Arquivos do Python (Lixo de execução) ---
.venv/
__pycache__/
*,pyc
*.py[cod]
*$py.class
*.so

# --- Arquivos de Sistema (macOS / Windows) ---
.DS_Store
Thumbs.db

# --- Distribuição e Instalação ---
*.egg-info/
.installed.cfg
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
venv/
env/

# --- Configurações de IDE ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs e Dados Temporários ---
*.log
.pytest_cache/
.ruff_cache/
